# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# PyCharm
.idea/

# Mac OS
.DS_Store

# Test / data
.pytest_cache/
test/*outdir*/
test/*workdir*/

22_0421_picking_by_random_module.vcf.gz
